
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!--// about -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about text-center">
                <div class="row mt-lg-5 mt-3">

                    <div class="col-lg-4">
                        <div class="author-profile">
                            <div class="cont text-center">
                                <div class="img">
                                    <img src="~/Content/images/Cv.jpeg" alt="Burak Fatih Kılıçaslan">
                                </div>

                                <div class="info mt-3">
                                    <h5>Burak Fatih Kılıçaslan</h5>
                                    <span>Software Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="hero-text">
                            <h1>Merhaba Ben, <span>Burak Fatih Kılıçaslan</span></h1>
                            <p>
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                .NET, backend ve clean architecture benim olayım.
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                .NET, backend ve clean architecture benim olayım.
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                .NET, backend ve clean architecture benim olayım.
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                .NET, backend ve clean architecture benim olayım.
                                Modern, ölçeklenebilir ve performans odaklı yazılımlar geliştiriyorum.
                                .NET, backend ve clean architecture benim olayım.
                                .NET, backend ve clean architecture benim olayım.
                            </p>
                            <a class="btn work scroll active" style="float:inline-end" href="#">Cv Görüntüle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// about -->
