@using EntityLayer.Concreate
@model List<Portfolyo>
@{
    ViewBag.Title = "Portfolyo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-wrapper">
    <table class="modern-table">
        <thead>
            <tr>
                <th>HeadingName</th>
                <th>Image</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.HeadingName</td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="@Url.Action("PortfolyoEdit", "Admin", new {id = item.PortfolyoID})">
                                    <img src="@(item.Image)" class="table-avatar" style="width:40px; cursor:pointer" data-toggle="modal" data-target="#modal2">
                                </a>
                            </li>
                        </ul>
                    </td>
                    @if (item.Status)
                    {
                        <td>
                            <span class="status active">Active</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="status passive">Passive</span>
                        </td>
                    }
                    <td>
                        <a href="@Url.Action("PortfolyoEdit", "Admin", new {id = item.PortfolyoID})" class="btn-edit"><i class="fas fa-pen"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-header">
    <button class="btn-add" data-toggle="modal" data-target="#modal1">
        <i class="fas fa-plus"></i> Add
    </button>
</div>

<div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header">
                <h2 class="modal-title" id="modal1Label" style="margin:0 0 0 9rem">Add Admin</h2>
            </div>

            <form method="post" action="~/Admin/PortfolyoAdd">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="HeadingName" class="form-label">HeadingNamee</label>
                        <input type="text" name="HeadingName" id="HeadingName" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Image" class="form-label">Image</label>
                        <input type="text" name="Image" id="Image" class="form-control">
                    </div>

                    <label for="AdminStatus" class="form-label">Status</label>
                    <div class="form-check-inline">
                        <div class="form-check">
                            <input class="form-check-input" id="durumAktif" name="Status" type="radio" value="True">
                            <label class="form-check-label" for="durumAktif">Active</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="durumPasif" name="Status" type="radio" value="False">
                            <label class="form-check-label" for="durumPasif">Pasive</label>
                        </div>
                    </div>

                    <br />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-custom">
        <div class="modal-content bg-dark">
            <div class="modal-body p-0 d-flex justify-content-center align-items-center">
                <img id="modalImage"
                     src="~/Content/images/portfolyoTatilSeyahat.jpg"
                     style="width: 230%;">
            </div>
        </div>
    </div>
</div>



