
<head>
    <title>Muhsin Yiğit Örücü</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Muhsin Yiğit Örücü" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/Content/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    @*<link rel="stylesheet" href="~/Content/css/snow.css">*@
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link href='~/Content/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->
    <link href="~/Content/css/Site.css" rel="stylesheet" />
</head>