<header class="index-banner" id="home">
    <!-- nav -->
    <nav class="main-header d-flex">
        <div id="brand">
            <div id="logo">
                <a href="index.html">
                    <i class="fas fa-crosshairs"></i>
                </a>
            </div>
            <div id="word-mark">
                <h1>
                    <a href="index.html">Recognize</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center nav-honey">
                <li>
                    <a href="index.html" class="active ">Home</a>
                </li>
                <li>
                    <a class="scroll" href="#about">About</a>
                </li>

                <li>
                    <a class="scroll" href="#skills">Skills</a>
                </li>

                <li>
                    <a class="scroll" href="#experience">Experience</a>
                </li>

                <li>
                    <a class="scroll" href="#portfolyo">Portfolyo</a>
                </li>
                <li>
                    <a class="scroll" href="#contact">Contact</a>
                </li>
                <li class="login">
                    <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                        Login
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <div class="banner_section">
        <div class="banner-info text-uppercase">
            <h6 data-aos="fade-right">Introduction</h6>
            <h5 data-aos="fade-right">Merhaba, Benim Adım Muhsin Yiğit Örücü</h5>
            <h3 style="color:#fff">FullStack Developer</h3>
            <div class="ban-buttons mt-3" data-aos="fade-right">
                <a class="btn work scroll" href="#projects">Cv Görüntüle</a>
                <a class="btn work scroll active" href="#contact">İletişim</a>
            </div>

        </div>
    </div>
    <!-- //banner -->
</header>
