<div class="modal fade" id="portfolioModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width:100%; margin:0;">
        <div class="modal-content bg-dark" style="padding: 2rem 5rem; position: relative; top: 20px; ">

            <div class="modal-body p-0">
                <div id="portfolioCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" id="carouselImages"></div>

                    <a class="carousel-control-prev" href="#portfolioCarousel" role="button" data-slide="prev" style="left: -8rem;">
                        <span class="carousel-control-prev-icon"></span>
                    </a>

                    <a class="carousel-control-next" href="#portfolioCarousel" role="button" data-slide="next" style="right: -8rem;">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
